<!-- <li class="list-group-item" class="p100">
  <div class="card ">
    <span class="card-header">{{item.name}}</span>
    <div class="card-block">
      <div style="float: left;"><b>Exp-</b><span>{{item.expirationDate | date:'shortDate'}}</span></div>
      <div style="float: right;"><b>Loc-</b><span>{{item.shelf.name}}</span></div>
    </div>
  </div>
</li> -->


  <div class="depot-card">
    <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
    <div class="card-text">
      <div style="float: left;"><b>Exp-</b><span>{{item.expirationDate | date:'shortDate'}}</span></div>
      <div style="float: right;"><b>Loc-</b><span>{{item.shelf.name}}</span></div>
    </div>
  </div>