  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Depot App</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a [routerLink]="['/itemList']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">What I have?</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/item']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Item</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/itemType']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Admin</a>
          </li>
        </ul>
      </div>
    </nav>